@model IEnumerable<WebApplication2.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <!--#file:'Products\Index.cshtml':10 add a link with bootstrap plus icon and btn info from bootstrap -->
    <a asp-action="Create" class="btn btn-info">
        <i class="bi bi-plus"></i> Create New
    </a>
</p>
<table id="productsTable" class="table">
    <!-- Table header for Product Model -->
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Category)
            </th>
            <th>Edit</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
   
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#productsTable').DataTable({
                "ajax": {
                    "url": "/Products/GetProducts",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "name", "autoWidth": true },
                    { "data": "price", "autoWidth": true },
                    { "data": "category", "autoWidth": true },
                    {
                        "data": "id", "width": "50px", "render": function (data) {
                            return '<a class="btn btn-success" href="/Products/Edit/' + data + '"><i class="bi bi-pencil-fill"></i></a>';
                        }
                        //inline ask what is bootstrap edit icon
                    },
                    {
                        //q: what is bootstrap details icon syntax
                        //a: <i class="bi bi-info-circle-fill"></i>

                        "data": "id", "width": "50px", "render": function (data) {
                            return '<a class="btn btn-primary" href="/Products/Details/' + data + '"><i class="bi bi-info-circle-fill"></i></a>';
                        }
                    },
                    {
                        //q: what is bootstrap trash icon
                        //a: <i class="bi bi-trash-fill"></i>
                        "data": "id", "width": "50px", "render": function (data) {
                            return '<a class="btn btn-danger" href="/Products/Delete/' + data + '"><i class="bi bi-trash-fill"></i></a>';
                        }
                    }
                ]
            });
        });
    </script>
}
